// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

$font-body: 'Inter', sans-serif;
$font-heading: 'Montserrat', sans-serif;

// text
$color-text: #222;
$color-primary: #008453;
$color-price: #d32f2f;
$color-text-white: #fff;


// background
$green-main-color: #008453;
$yellow-main-color: #f5c002;
$green-color: #00ff00;
$blue-color: #2962ff;
$white-color: #fff;
$purple-color: #8f41e9;
$blue-main-color: rgb(11,13,198);
$blue-main-color-oppacity: rgb(11,13,198, .7);

$nav-bg:$green-main-color;
$hover-bg: $blue-main-color;
// $hover-bg: $yellow-main-color;
$call-bg: $green-color;
$zalo-bg: $blue-color;
$customer-service-bg: $purple-color;
$button-bg: $blue-main-color;
// $button-hover-bg: $yellow-main-color;
$button-hover-bg: $blue-main-color-oppacity;
$text-color: $white-color;
$text-hover-color: $white-color;
// desktop
// $nav-text: $color-text;
$nav-text: $color-text;
$nav-text-hover: $color-text-white;

// mobile
$nav-text-mobile: $color-text-white;
$nav-text-hover-mobile: $blue-main-color;
